.bigDataDashboard {
  margin-top: 30px;
  padding: 0 30px;
}

.dataInputTypeTabs {
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.dataInputTypeTabs > span {
  display: inline-block;
  border-bottom: 3px solid #ccc;
  transition: all .25s ease;
  cursor: pointer;
}

.dataInputTypeTabs > span.active {
  border-bottom: 3px solid #08530c;
}